.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-down {
  span {
    display: inline-block;
  }
  span.satu {
    inset: 0;
    border-radius: 27% 73% 14% 86% / 65% 20% 80% 35%;
  }
  span.dua {
    inset: 0;
    border-radius: 42% 58% 23% 77% / 58% 35% 65% 42%;
  }
  span.tiga {
    inset: 0;
    border-radius: 67% 33% 68% 32% / 27% 49% 51% 73%;
  }
}
